@page
@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title" class="display-4">@ViewBag.Title.</h2>
    <h3 class="h5">@ViewBag.Message</h3>

    <p class="lead">Use this area to provide additional information.</p>
</main>
